body {
  margin: auto;
  width: 50%;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  text-align: center;
  font-weight: 100;
}


.book {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin: 10px auto;
  background-color: $color-main;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;

  & p {
    margin: 0;
  }
}

form {
  width: 100%;
}

input[type="text"] {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #eee;
}

input[type="submit"] {
  width: 100%;
  background-color: $color-main;
  font-weight: 700;
  font-size: 16px;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #eee;
  text-transform: uppercase;
  cursor: pointer;
}